@import "variables";
@import "reset";

.pbl__about {
    width: 100%;
    overflow: hidden;
    background: rgb(116,80,131);
    background: -moz-linear-gradient(180deg, rgba(116,80,131,1) 0%, rgba(86,61,98,1) 50%, rgba(51,38,58,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(116,80,131,1) 0%, rgba(86,61,98,1) 50%, rgba(51,38,58,1) 100%);
    background: linear-gradient(180deg, rgba(116,80,131,1) 0%, rgba(86,61,98,1) 50%, rgba(51,38,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#745083",endColorstr="#33263a",GradientType=1); 
    &__item {
        width: 33%;
        display: inline-block;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 10px;
        padding-left: 20px;
    }
    &__icon {
        float: left;
        padding-top: 10px;
    }
    &__text-container {
        float:right;
        width: 80%;
    }
    &__title {
        font-family: 'LeagueGothic';
        font-size: 30px;
        text-shadow: 1px 1px 1px #9f9396;
    }
    &__content {
        font-size: 16px;
        padding-top: 10px;
        line-height: 1.5;
    }
    &__read {
        font-family: 'LeagueGothic';
        font-size: 18px;
        text-align: right;
        letter-spacing: 0.8px;
        text-shadow: 1px 1px 1px #9f9396;
        padding-top: 10px;
        &:hover {
            cursor: pointer;
            text-shadow: 1px 1px 1px rgb(255, 255, 255);
        }
    }
}

