@import "variables";
@import "reset";

@media (max-width: 960px) {
    .pbl__blog {
        &__quote {
            &_text-hidden {
                display: none;
            }
            &_title {
                display: block;
                &-bottom {
                    padding-left: 20px;
                }
            }
        }
        &__posts {
            &_text-hidden {
                display: none;
            }
        }
        &__companies {
            &__item {
                margin-right: 30px;
            }
        }
    }
}


@media (max-width: 768px) {
    .pbl__content__blog {
        padding-left: 45px;
        padding-right: 10px;
    }
    .pbl__blog {
        &__quote {
           width: 43%;
           &_wrap {
            padding: 15px;
           }
           &_image {
               margin-left: -40px;
           }
           &_title {
            font-size: 24px;
            padding-left: 15px;
           }
           &_text {
            padding-left: 15px;
            padding-top: 5px;
            font-size: 14px;
        }
        }
        &__posts {
            width: 55%;
            padding-top: 25px;
            padding-left: 10px;
            &_title {
                font-size: 24px;
            }
            &__post {
                &_body {
                    width: 80%;
                }
                &_title {
                    font-size: 14px;
                }
                &_text {
                    font-size: 14px;
                }
            }
        }
        &__dots-container {
            margin-left: 35%;
         }
        &__quote_wrap::after {
            left: 80%;
        }
        &__companies {
            width: 100%;
            &__item {
                margin-right: 15px;
            }
        }
    }
}

@media (max-width: 600px) {
    .pbl__content__blog {
        padding-left: 45px;
        padding-right: 20px;
    }
    .pbl__blog {
        &__quote {
            width: 100%;
        &_title {
            font-size: 28px;
            display: inline;
        &-bottom {
            padding: 0;
            }
        }
        &_text {
            font-size: 15px;
            padding-left: 25px;
        }
        &_text-hidden {
            display: inline;
        }
        &_wrap::after {
            display: none;
        }                   
    }
        &__posts {
            width: 100%;
            padding-left: 0;
        &_title {
            font-size: 28px;
        }
        &__post {
            &_title {
                font-size: 15px;
            }
            &_text {
                font-size: 15px;
            }
        }
    }
        &__companies {
            width: 100%;
            flex-wrap: wrap;
            padding-top: 30px;
            &__item {
                margin-right: 60px;
                &-awsm {
                    margin-left: 45px;
                    margin-right: 40px;
                }
                &-vonzipper {
                    margin-bottom: 35px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .pbl__blog {
        &__companies {
            &__item {
                margin-right: 45px;
                margin-left: 45px;
            }
        }
    }
}

@media (max-width: 320px) {
    .pbl__content__blog {
        padding-left: 20px;
        padding-right: 10px;
    }
        .pbl__blog {
            &__quote {
                width: 95%;
                float: right;
            &_title {
                font-size: 24px;
            }
            &_text {
                font-size: 14px;
                padding-left: 25px;
            }
            &_text-hidden {
                display: none;
            }
                            
        }
            &__posts {
                &_title {
                    font-size: 24px;
                }
                &__post {
                    &_title {
                        font-size: 14px;
                    }
                    &_text {
                        font-size: 14px;
                    }
                }
            }
            &__companies {
                padding-left: 20px;
                padding-right: 20px;
                &__item {
                    margin-right: 20px;
                    margin-left: 15px;
                }
            }
        }
}