$title-white: #fff;
$title-light: #fefefe;
$title-violet: #edbfff;
$font-grey: #454545;
$bcg-products: #ececec;
$dark-violet: #2b2231;
$normal-violet: #3e3146;
$border-violet: #523e5a;
$normal-violet-rgba: rgba(62, 49, 70, 0.8);
$dark-violet-rgba: rgba(43, 34, 49, 0.8);
