$title-white: #fff;
$title-light: #fefefe;
$title-violet: #edbfff;
$light-grey: #cbcbcb;
$copyright-grey: #c5c5c5;
$font-grey: #454545;
$circles-grey: #5a5a5a;
$bcg-blog: #f9f9f9;
$bcg-products: #ececec;
$dark-violet: #2b2231;
$normal-violet: #3e3146;
$border-violet: #66506f;
$normal-violet-rgba: rgba(62, 49, 70, 0.8);
$dark-violet-rgba: rgba(43, 34, 49, 0.8);
$transparent-home: rgba(0, 0, 0, 0.2);