@import "variables";
@import "reset";

.pbl__content__blog {
    padding-top: 5%;
    padding-left: 15px;
}

.pbl__blog {
    min-height: 50vh;
    overflow: hidden;
    color: $font-grey;
    background-color: $bcg-blog;
    border-top: 1px solid $light-grey;
    &__quote {
        width: 45%;
        float: left;
        padding-top: 10px;
        &_wrap {
        background-color: white;
        position: relative;
        padding: 30px;
        box-shadow: 1px 1px 2px $light-grey;
        }
        &_image {
            float: left;
            margin-left: -50px;
        }
        &_title {
            font-family: 'LeagueGothic';
            font-size: 30px;
            display: inline-block;
            padding-left: 20px; 
            &-top {
                color: $font-grey;
            }
            &-bottom {
                color: $title-violet;
                padding: 0;
            }
        }
        &_text {
            padding-left: 20px;
            padding-top: 10px;
            font-size: 16px;
        }
        
    }
    &__posts {
        float: right;
        padding-top: 45px;
        padding-left: 20px;
        width: 50%;
        &__wrap {
            padding-top: 10px;
        }
        &_title {
            font-family: 'LeagueGothic';
            font-size: 30px;
        }
        &__icon {
            float: left;
        }
        &__post {
            height: 70px;
            &_body {
                float: right;
                width: 85%;
            }
            &_title {
                font-weight: bold;
                font-size: 16px;
            }
            &_text {
                font-size: 16px;
            }
        }
        &_more {
            float: right;
            font-family: 'LeagueGothic';
            font-size: 18px;
            margin-top: -10px;
            &:hover {
                cursor: pointer;
                text-shadow: 2px 2px 3px $font-grey;
            }
        }
    }
    &__dots-container {
       margin-left: 43%;
       padding-top: 18px;
    }
    &__placeholder {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid $light-grey;
        background-color: $bcg-blog;
    }
    &__companies {
        width: 100%;
        min-height: 150px;
        background-image: url(../img/logos2.png);
        background-repeat: no-repeat;
        background-color: $bcg-blog;
        background-position-x: 100px;
        background-position-y: 50px;
        &__wrap {
            background-color: $bcg-blog;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            //padding-top: 40px;
        }
    }

}

.pbl__dot {
    background-color: white;
    display: inline-block;
    width: 14px;
	height: 14px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 1px 1px $light-grey;
    &-active {
    background-color: $circles-grey;
    border: 2px solid white;
    }
}

.pbl__blog__quote_wrap::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 90%;
    border-width: 10px;
    border-style: solid;
    border-color: white white transparent transparent;
}
