@import "variables";
@import "reset";

@media (max-width: 960px) {
    .pbl__content__footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .pbl__footer {
        min-height: 150px;
        &__nav {
            display: block;
        }
        &__trademark {
            float: none;
            text-align: right;
            line-height: 2;
        }
    }
}

@media (max-width: 600px) {
    .pbl__content__footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pbl__footer {
        min-height: 150px;
        &__nav {
            &_item {
            margin-right: 4%;
            font-size: 16px;
            text-shadow: none;
            &-last {
                margin-right: 0;
            }
            }
        }
        &__trademark {
            text-align: center;
        }
    }
}

@media (max-width: 320px) {
    .pbl__footer {
        min-height: 70px;
        &__nav {
            display: none;
            }
        &__trademark {
            line-height: 70px;
        }
    }
}