@import "variables";
@import "reset";

.pbl__home {
    min-height: 100vh;
    background-image: url(../img/bcg-mountains.jpg);
    background-repeat: no-repeat;
    background-position-x: -550px;
    background-position-y: -5px;
}